pos =0
neg =0
equ =0
arr=[]
nofelem=int(input())
for i in range(nofelem) :
    element=int(input())
    arr.append(element)
print(arr)
for a in range(nofelem):
    if arr[a] >= 1 :
        pos=pos+1
        a=+1
    elif arr[a] <= -1 :
        neg=neg+1
        a=+1
    elif arr[a] == 0 :
        equ=equ+1
        a=+1
res1 =pos/nofelem
res2 =neg/nofelem
res3 =equ/nofelem    
print ('{0:.6f}'.format(res1)) 
print ('{0:.6f}'.format(res2))
print ('{0:.6f}'.format(res3)) 
